name: PR Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Check PR Title
    if: github.repository == 'olivermrose/hypeline'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        with:
          subjectPattern: ^(?![A-Z]).+$
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
